#contacts {
  padding: 6rem 6rem 1rem 6rem;
}

#contacts .container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 0.9fr 2fr;
  grid-gap: 2rem;
}

#contacts .title {
  text-align: center;
}

#contacts .title p {
  padding-top: 1.5rem;
}

#contacts h1 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

#contacts h2 {
  padding-top: 1.5rem;
  font-family: var(--text-font);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

#contacts p {
  font-family: var(--text-font);
  font-size: 1.1rem;
  font-weight: 500;
}

#contacts .info {
  margin-bottom: 3.5rem;
  display: flex;
}

#contacts .icon {
  width: 25px;
  height: 25px;
  padding: 1rem;
  margin: 5px;
  border-radius: 50%;
  background: var(--green);
  color: white;
}

#contacts .text {
  margin-top: -0.5rem;
}

form input {
  height: 46px;
  width: 100%;
  margin-bottom: 20px;
  border: 4px;
  font-size: 1rem;
  color: #171c1f;
  border: 1px solid #e1e1e1;
}

form textarea {
  height: 80px;
  width: 100%;
  margin-bottom: 0.8rem;
  resize: none;
  font-family: var(--text-font);
  font-size: 1rem;
  color: #171c1f;
  border: 1px solid #e1e1e1;
}

form input[type="checkbox"] {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
}

form label {
  font-family: var(--text-font);
  font-size: 0.8rem;
}

#contacts button {
  margin-top: 1rem;
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  background: var(--green);
  color: #ffffff;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1023px) {
  #contacts {
    padding: 6rem 1.8rem 1rem 1.8rem;
  }

  #contacts .container {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  #contacts .infoWrapper {
    max-width: 100%;
    text-align: center;
  }

  #contacts .info {
    margin: 1rem;
    margin-bottom: 3.5rem;
    display: inline-block;
  }

  #contacts .icon {
    width: 20px;
    height: 20px;
  }

  #contacts h2 {
    font-size: 1rem;
  }

  #contacts p,
  form input,
  form textarea {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  #contacts {
    padding: 5rem 2rem 3rem 2rem;
  }

  #contacts .container {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #contacts h1 {
    font-size: 1.4rem;
  }

  #contacts .info {
    margin: 2rem;
    margin-bottom: 0.5rem;
    display: block;
  }

  #contacts .icon {
    width: 15px;
    height: 15px;
  }
}
