.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  position: fixed;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.logo {
  margin-left: 1rem;
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}

.navMenu,
.navRight {
  display: flex;
  padding: 0.5rem;
}

.navLink {
  padding: 1rem;
  font-family: var(--text-font);
  text-transform: capitalize;
}

.navLink:hover {
  color: var(--green);
}

.navIcon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.navMode:hover,
.navMobile:hover {
  color: var(--green);
}
