#work {
  padding: 5rem 8rem 0rem 8rem;
}

#work h1 {
  font-family: var(--text-font);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

#work ul {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

#work ul li button {
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.5rem 0.5rem;
  margin: 0 0.3rem 0 0;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid var(--green);
  color: var(--green);
  background: none;
}

#work ul li button:hover {
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
  color: #ffffff;
  transform: 0.4s ease-in;
}

#work .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding-top: 2rem;
}

#work .card {
  position: relative;
}

#work .card .overlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.4s ease-in;
  border-radius: 18px;
}

#work .card:hover .overlay {
  opacity: 1;
}

#work .card h2 {
  font-family: var(--text-font);
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
}

#work .card p {
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

#work .card a {
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #ffffff;
  background-color: var(--green);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#work .card a:hover {
  background-color: var(--dark-green);
}

#work .card img {
  max-width: 100%;
  border-radius: 18px;
}

@media screen and (max-width: 1023px) {
  #work {
    padding: 6rem 4rem 0 4rem;
  }

  #work .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  #work {
    padding: 5rem 1rem 0 1rem;
  }

  #work .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  #work p {
    font-size: 0.9rem;
  }

  #work h1 {
    font-size: 1.4rem;
  }

  #work h2 {
    font-size: 1.1rem;
  }

  #work ul li {
    font-size: 0.9rem;
  }
}
