$green: #6b9080;
//$mid-green: #a4c3b2;
//$light-green: #cce3de;
//$text-dark: #404040;
//$text-white: #ffffff;
$text-font: "Source Sans Pro", sans-serif;
$title-font: "Playfair Display", serif;
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
